# Ignored files
# Virtual ENV
venv/

#Pycharm ide
.idea
.idea/

.github/**
**/*.ipynb_checkpoints/

# Ignore Mac OS Stuff
**/.DS_Store


# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
